.login {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  
  .topPart {


    .headerImg {
      background-color: rgb(8, 19, 40);
      height: 100%;
      // width: 100%;
      
      img {
        height: 100%;
        width: 100%;
      }
    }

  }


  .bottomPart {


    .loginForm {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 3.7em;
      // gap: 20px;
  
      .header {
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        margin-top: 1em;
      }
  
      .forms{
        display: flex;
        flex-direction: column;
  
        label {
          margin-top: 0.9em;
          font-weight: 600;
        }
  
        input {
          margin-top: .4em;
          padding: 1em;
        }
      }
  
      .terms {
        display: flex;
        width: 250px;
        margin-top: 1.5em;
      }
  
      .create {
        font-size: 1rem;
        margin-top: 1.5em;
        margin-bottom: 3em;
        // height: 50px;
        padding: 1.3em;
        background-color: rgb(8, 19, 40);
        color: white;
      }
    }
  }
}