.login {
  background-color: aqua;
  width: 100%;
  height: 100%;


  .headerImg {
    background-color: blue;
    width: 100%;
    height: 50%;
    

    img {
      height: 100%;
      width: 100%;
    }
  }

  .loginForm {
    background-color: red;
    height: max-content;
    width: 72%;
    font-weight: bold;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

    .header {
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 15px;
      margin-top: 30px;
    }

    .forms{
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        font-size:4vw;
      }

      input {
        width: 97%;
      }
    }

    .terms {

    }

    .create {
      box-sizing: border-box;
      font-size: 30px;
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      margin-bottom: 50px;
    }
  }
}

