body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width:40em) {
  html{
    padding: 5em 10em;
    background: url(imgs/Background.png) no-repeat center center fixed;
    background-size: cover;

    .login{
      display: flex;
      flex-direction: column;

      .bottomPart {
        flex: 1;
        background: white;
      }
  
      .topPart {
        flex: 1;
      }
    }
  }
}

@media screen and (min-width: 80em) {
  html {
    box-sizing: border-box;
    background: url(imgs/Background.png) no-repeat center center fixed;
    background-size: cover;

    .login{
      flex-direction: row;
      padding: 0em 10em;
      margin: auto;
  
      .bottomPart {
        flex: 1;
        background: white;
      }
  
      .topPart {
        flex: 1;  
      }
    }
  }
}